@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --button-default-fgColor-rest: 37, 41, 46;
    --button-default-bgColor-rest: 246, 248, 250;
    --button-default-bgColor-hover: 239, 242, 245;
    --button-default-bgColor-active: 42, 49, 60;
    --button-default-borderColor-rest: 209, 217, 224;
    --button-default-borderColor-hover: 209, 217, 224;
    --button-default-borderColor-active: 209, 217, 224;
    --fgColor-default: 31, 35, 40;
    --default-bgColor: 255, 255, 255;
    --fgColor-muted: 89, 99, 110;
    --fgColor-accent: 9, 105, 218;
    --header-default-bgColor-rest: 246, 248, 250;
    --default-error: 220,0,0;
  }
  .dark {
    --button-default-fgColor-rest: 240, 246, 252;
    --button-default-bgColor-rest: 33, 40, 48;
    --button-default-bgColor-hover: 38, 44, 54;
    --button-default-bgColor-active: 42, 49, 60;
    --button-default-borderColor-rest: 61, 68, 77;
    --button-default-borderColor-hover: 61, 68, 77;
    --button-default-borderColor-active: 61, 68, 77;
    --fgColor-default: 240, 246, 252;
    --default-bgColor: 13, 17, 22;
    --fgColor-muted: 145, 152, 161;
    --fgColor-accent: 68, 147, 248;
    --header-default-bgColor-rest: 13, 17, 22;
    --default-error: 180,0,0;
  }
}

body{
  
}